.menu {
    padding: 60px 40px 40px;
    width: 320px;
    text-align: center;
    position: relative;
    margin-top: -20px;
}

.menu::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    box-shadow: inset -15px 15px 25px var(--menu-shadow);
}

.title {
    font-weight: 600;
    position: relative;
    letter-spacing: 2px;
    text-align: center;
}

.title .image {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    border: 5px solid var(--menu-shadow);
}

.title .titleText {
    margin-top: 10px;
}

.items {
    margin-top: 40px;
}

.item {
    line-height: 1.65;
    cursor: pointer;
    margin: 5px 0;
    position: relative;
    font-weight: 600;
    color: var(--text-color);
    font-size: 18px;
}

.item span,
.title span {
    position: relative;
    transition: border-bottom 0.4s, width 0.4s;
}

.item:hover span::before,
.title:hover span::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-bottom: -5px;
    border-bottom: 4px solid var(--border-color);
    animation: bottomBorder 0.8S;
}

.item:hover,
.title:hover {
    color: var(--white-text);
    transition: color 0.5s;
}

.mobileHeader {
    position: absolute;
    z-index: 2;
    top: 50px;
    left: 50px;
    width: calc(100% - 100px);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menuTitle {
    font-size: 25px;
    font-family: cursive;
    font-weight: 600;
    letter-spacing: 2px;
    color: var(--white-text);
    opacity: 1;
    transition: opacity 0.6s;
}

.menubar {
    position: relative;
    width: 25px;
    height: 20px;
    display: inline-block;
    background: transparent;
    cursor: pointer;
    padding: 16px;
}

.menubar span,
.menubar span::after,
.menubar span::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 25px;
    height: 3px;
    background-color: var(--white-text);
    margin-top: 8px;
    border-radius: 10px;
    transition: all 0.6s;
}

.menubar span::before {
    margin-top: -8px;
}

@keyframes bottomBorder {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@media(max-width: 950px) {
    .menu {
        width: 250px;
    }
}

@media (max-width: 740px) {
    .menu {
        margin-left: -250px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        background-color: var(--black-color);
        transition: margin-left 0.6s;
    }

    .opened {
        margin-left: 0;
    }

    .menubarOpened .menuTitle {
        opacity: 0;
    }

    .menubarOpened .menubar span::before {
        display: none;
    }

    .menubarOpened .menubar span {
        transform: rotate(45deg);
    }

    .menubarOpened .menubar span::after {
        transform: rotate(90deg);
        margin: 0;
    }
}

@media(max-width: 550px) {
    .mobileHeader {
        left: 20px;
        top: 20px;
        width: calc(100% - 40px);
    }
}